<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag='room' do %>
  <%= render @room %>

  <div>
    <%= link_to "Edit this room", edit_room_path(@room) %> |
    <%= link_to "Back to rooms", rooms_path %>

    <%= button_to "Destroy this room", @room, method: :delete %>
  </div>
<% end %>
<br>

<h1>Messages</h1>
<% @room.messages.each do |message| %>
    <p><%= "#{message.created_at.to_date}: #{message.context}" %></p>
<% end %>

<br>
<%= link_to "New message", new_room_message_path(@room) %>
